p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo .header-logo-span {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.header-menu-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}

.header-contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

/* Main */

.hero {
  background: #2e2f42;
  height: 618px;
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  text-align: center;
}

.hero-btn {
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 48px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-right: auto;
  margin-left: auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* Features */

.features{
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
  
.features-subtitle{
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

/* Team */

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-worker{
  padding: 32px 0;

}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
  border: 1px solid #e7e9fc;
}

.team-subtitle {
  margin-bottom: 8px;
  text-align: center;
}

.team-description {
  text-align: center;
}

/* Features */

.one-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.one-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.one-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* Portfolio */

.portfolio{
  padding-top: 120px; padding-bottom: 120px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-subtitle{
  margin-bottom: 8px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.div-portfolio{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}



/* Footer */

.footer-page {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo{
  display: inline-block;
  margin-bottom: 16px;
}

.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
